* {
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
  }
  body {
    background-color: #F7F7FA;
  }
  
  .btn {
    padding: 5px 12px;
    border-radius: 5px;
  }

.container {
  width: 100%;
  max-width: 1350px;
}
.container-app {
   display: flex;
   justify-content: center;
}