@font-face {
  font-family: "Cairo";
  src: url("./assets/fonts/cairo/static/Cairo-Medium.ttf");
}

* {
  font-family: 'Cairo', sans-serif !important;
  text-decoration: none;
  margin: 0;
  padding: 0;

}
