.product-page {
  display: flex;
  padding: 30px;
  position: relative;
  justify-content: center;
  gap: 35px;
  .image-product {
    height: max-content;
      flex: 2;
    display: flex;
    justify-content: center;
    gap: 20px;
   
    .list-images {
      display: flex;
      flex-direction: column;
      gap: 10px;
      .card-list {
        width: 70px;
        height: 100px;
        position: relative;
        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        &.select {
          border: 1px solid;
        }
      }
    }

    .div-img {
      width: 300px;
      height: 450px;
      position: relative;
      div,
      img {
        z-index: 999 !important;
      }
    }
  }
  .details-product {
      flex: 3;
    h1 {
      font-size: 22px;
      padding: 8px 0;
      font-weight: bold;
    }
    h3 {
      font-size: 16px;
      font-weight: 500;
    }
    .price,
    .descount,
    .rate-product {
      display: flex;
      span.text {
        width: 90px;
        font-size: 16px !important;
      }
    }
    .price {
      span {
        font-size: larger;
        font-weight: bold;
      }
    }
    .descount {
      margin: 10px 0;
      span:not(.text) {
        text-decoration: line-through;
      }
    }

    .action {
      display: flex;
      flex-direction: column;
      margin: 10px 0;
      .select{
        display: flex;
        margin-right: 20px;
        margin: 10px 0;
        label {
            width: 90px;
            display: flex;
        }
        select {
            padding: 0px 13px;
            border: 1px solid #551A8B;
            outline: none;
        }
      }
    }
    .desc {
      margin: 15px 0;
    }
    input,
    .input {
      z-index: -1 !important;
    }
    button {
      background-color: #551A8B;
      width: 200px;
      height: 50px;
      color: white;
      border: none;
      outline: none;
      cursor: pointer;
      border-radius: 5px;
      &:active {
        background-color: #3c0d68;
        color: white;
      }
      
    }
  }
  
}
.review-product {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px 0 50px 0;
  p.title{
    font-size: 20px;
    font-weight: bold;
    margin: 20px 0;
  }
  .action {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 50%;
  }
  .comment {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 15px 0;
    max-width: 500px;
    .user {
      display: flex;
      flex-direction: row;
      gap: 10px;
       .div-img{
        width: 30px;
        height: 30px;
        overflow: hidden;
        position: relative;
        border-radius: 10px;
        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
       }
       p {
        font-size: 18px;
        font-weight: 500;
       }
    }
    .content {
      p {
        font-size: 16px;
        font-weight: 100;
        color: rgba(0, 0, 0, 0.6);
      }
    }
  }
}

@media screen and (width <=768px ) {
  .product-page{
      flex-direction: column;
      .details-product{
        width: 100%;
      }
  }
  .review-product {
    .action {
      width: 90%;
    }
  }
    
}